.card {
  margin: 7px;
  padding: 10px 7px 0px 10px;
  width: 46%;
  height: 100%;
}

@media (max-width: 725px) {
  .card {
    min-width: 100%;
  }
}

.framed {
  width: 49%;
  border: 0px;
}

@media (max-width: 725px) {
  .framed {
    min-width: 100%;
  }
}

.cardContent {
  text-transform: uppercase;
  padding: 0.5rem;
  margin: 0px;
}

.title {
  /* font-size: 15px; */
  text-transform: uppercase;
  font-weight: bold;
}

.button {
  text-transform: uppercase;
  font-size: 0.95em;
  border-radius: 20px;
  padding: 0.35rem;
  margin: 3px;
}
